@keyframes animacao {
    0%{background-color: brown; width: 100px;}
    50%{background-color: rgb(1, 196, 202); width: 300px;}
    80%{background-color: rgb(70, 236, 4); width: 200px;}
    100%{background-color: rgb(122, 1, 202); width: 500px;}
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.conteiner{
    width: 500px;
    height: 500px;
    background-color: brown;
    animation-name: animacao;
    animation-duration: 6s;
    animation-delay: 2;
    animation-iteration-count: infinite;
}